Package: com.azurite.external
Name: Azurite External Test
Version: 1.0
Architecture: iphoneos-arm64 arm64e
Description: Minimal test tweak for FF
Maintainer: DVA1
Section: Tweaks
Depends: mobilesubstrate
