Package: com.azurite.external
Name: Azurite External
Version: 1.0-2026
Architecture: iphoneos-arm64 arm64e
Description: Minimal tweak simulation
Maintainer: DVA1
Author: DVA1
Section: Tweaks
Depends: mobilesubstrate
